/*background colors*/
$general_bg_color: #EEF3FA;
$title_bg:#9bc7dd;
$table_odd_row:#e2eef4;
$table_even_row:#fdf9ee;
$table_col_title:#9bc7dd;
$table_header_bg:#044666;

$webpart_topic:#2c898b;
$webpart_link:#044666;
$webpart_head:#9bc7dd;
